# ==========================
# Phoenix Configuration File
# c8484.pcf
# do not alter this at all
# ==========================
PHX_BOARD_TYPE,         PHX_DIGITAL
PHX_CAM_ACTIVE_YLENGTH, 1024
PHX_CAM_ACTIVE_XLENGTH, 1344
PHX_CAM_DATA_VALID,     PHX_ENABLE
PHX_CAM_SRC_DEPTH,      12
PHX_DST_FORMAT,         PHX_DST_FORMAT_Y12
PHX_COMMS_FLOW,         PHX_COMMS_FLOW_NONE
PHX_COMMS_SPEED,        9600
PHX_COMMS_PARITY,       PHX_COMMS_PARITY_NONE
PHX_COMMS_STOP,         PHX_COMMS_STOP_1
PHX_COMMS_DATA,         PHX_COMMS_DATA_8
PHX_EXPTRIG_SRC,        PHX_EXPTRIG_SWTRIG
